# the PHP back-end server
BACKEND_URL="https://127.0.0.1:8000"

# true, yes, 1 = maintenance mode
MAINTENANCE=

# Used in page titles, etc
SITE_NAME="Test Site"

# Data Table defaults
TABLE_PER_PAGE_DEFAULT=25
