@tailwind components;

html {
    // our base font size
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    margin: 0;

    @apply min-h-svh bg-body-bg dark:bg-body-bg-dark text-core-light-900 dark:text-core-dark-200;

    #__nuxt {
        @apply min-h-svh w-full flex flex-col
    }

    a, div, button, input, label, span, circle, svg {
        @apply transition-colors duration-200 ease-in-out;
    }

    main {
        @apply px-4;
    }
}

@layer components {
    h1 {
        @apply
        font-bold leading-tight
        text-2xl lg:text-3xl
        tracking-tight text-core-light-900 dark:text-core-dark-200
        ;
    }

    h2 {
        @apply
        font-bold leading-tight
        text-xl lg:text-2xl
        tracking-tight text-core-light-800 dark:text-core-dark-200
        ;
    }

    h3 {
        @apply
        font-bold leading-tight
        text-lg lg:text-xl
        tracking-tight text-core-light-700 dark:text-core-dark-200
        ;
    }

    p {
        @apply text-base text-core-light-900 dark:text-core-dark-100;

        &:not(:first-of-type) {
            @apply pt-2;
        }
    }

    main {
        a {
            @apply text-highlight-700 dark:text-highlight-300;
            &:not(.current) {
                @apply hover:text-highlight-900 hover:underline dark:hover:text-highlight-100;
            }
        }
    }
}

@import 'components/datatable';
@import 'components/tooltip';
